p {
  margin-top: 0;
  margin-bottom: 0;
  width: 330px;
}

.email-bar {
  width: 320px;
  margin-top: 6px;
  margin-bottom: 12px;
}

.statement {
  font-size: 14px;
  margin-bottom: 12px;
}

.button-agree {
  background-color: rgb(0, 115, 255);
  color: white;
  font-size: 17px;
  border: none;
  border-radius: 20px;
  width: 330px;
  padding-top: 10px;
  padding-bottom: 10px;
}
